@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500&display=swap');

:root {
    --main-bg-color: white;
}


html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
}

.all-containers {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.websites-container, .articles-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

header, header img {
    display: none;
}

hr {
    width: 75%;
}

.hero img {
    width: 80%;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
}

.hero {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    height: 100%; /* check if it works */
}

h2 {
    font-size: 2.5em;
}

.button-28 {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
  }
  
  .button-28:disabled {
    pointer-events: none;
  }
  
  .button-28:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .button-28:active {
    box-shadow: none;
    transform: translateY(0);
  }

.article, .website {
    border: 2px transparent black;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 0;
    
}

.article img, .website img {
    width: 100%;
}

h4, .article-desc {
    padding: 10px 20px;
    margin: 0;
}

h4 {
    font-size: 1.4em;
}

.container-title {
    display: block;
    text-align: center;
    align-items: center;
}
.date {
    padding: 0;
    margin: 0;
    font-size: 0.8em;
    font-weight: 200;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(28, 28, 168);
    text-decoration: underline;
}

.articles-container h3, .websites-container h3 {
    text-align: center;
}

button {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

button:hover,
button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

button:hover {
  transform: translateY(-1px);
}
button:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1200px) 
  and (-webkit-min-device-pixel-ratio: 1) {
        
    
    .hero {
        flex-direction: column;
    }

    .hero img {
        width: 30%;
    }

    .button-28 {
        display: none;
    }

}


@media (min-width:1281px) {
    
    
    .hero {
        flex-direction: column;
    }

    .hero img {
        width: 30%;
    }

    .all-containers {
        display: flex;
        flex-direction: column;
    }

    .websites-container, .articles-container {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .website, .article {
        width: 40%;
    }

    .website img, .article img {
        width: 500px;
        height: 400px;
    }
}